@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

.navBar {
	background: rgba(0, 0, 0, 255);
	background-color: rgb(0, 0, 0);
	color: rgb(190, 188, 188);
	height: fit-content;
	display: flex;
}
.containerNav {
	width: 100%;
}
.containerLinks {
	height: min-content;
	display: flex;
	justify-content: space-around;

	width: 100%;
}
.navBarBrand {
	padding-top: 0;
	padding-bottom: 0;
	height: max-content;
	display: flex;
	margin-right: 10% !important;
	padding: 0 !important;
}
.logo {
	height: fit-content;
	padding: 0 !important;
}

.navbar {
	--bs-navbar-padding-y: -0.5rem;
}

.palabras {
	color: #fb3435;
	text-align: center;
	font-family: "Koulen", sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
	text-decoration: none;
}
.palabras:hover {
	color: grey;
}
